
.board {
    background-color: var(--board-bg);
    transition: background-color 0.3s ease;
  }
  
  .square {
    background-color: var(--square-bg);
    color: var(--text);
    transition: all 0.3s ease;
  }
  
  /* Add this for smooth transitions */
  * {
    transition: background-color 0.3s ease, color 0.3s ease;
  }




  .light-bg {
    background-image: url('/bgg.svg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
  }
  
  .dark-bg {
    background-image: url('/bbg.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
  }
  
  

  .light-bg, .dark-bg {
    transition: background-image 0.09s ease-in-out;
  }
  